<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="com.graly.promisone.base.images" name="Image Registry" schema="schema/com.graly.promisone.base.images.exsd"/>
	<extension-point id="com.graly.promisone.base.managers" name="Managers Registry" schema="schema/com.graly.promisone.base.managers.exsd"/>
	<extension-point id="com.graly.promisone.base.wizard" name="Wizard Registry" schema="schema/com.graly.promisone.base.wizard.exsd"/>
	
	<extension
         id="Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
         	class="com.graly.promisone.base.application.Application">
         </run>
      </application>
   </extension>   
   <extension
         point="org.eclipse.ui.perspectives">
    	 <perspective
         	class="com.graly.promisone.base.entitymanager.EntityPerspective"
            id="Function"
            name="Function"
            icon="icons/function_hierarchy.gif">
    	 </perspective>
   </extension>   
   
	<extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
            <toolbar id="com.graly.promisone.system">
               <command
                  commandId="com.graly.promisone.system.changearea"
                  icon="icons/changearea.gif"
                  id="com.graly.promisone.system.changearea"
                  label="ChangeArea">
            	</command>
            	<command
                  commandId="com.graly.promisone.system.relogin"
                  icon="icons/relogin.gif"
                  id="com.graly.promisone.system.relogin"
                  label="ReLogin">
            	</command>
            	<command
                  commandId="com.graly.promisone.system.exit"
                  icon="icons/exit.gif"
                  id="com.graly.promisone.system.exit"
                  label="Exit">
            	</command>
            </toolbar>
         </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.graly.promisone.base.security.handlers.ChangeAreaHandler"
            id="com.graly.promisone.system.changearea"
            name="ChangeArea">
      </command>
      <command
            defaultHandler="com.graly.promisone.base.security.handlers.ReLoginHandlerHandler"
            id="com.graly.promisone.system.relogin"
            name="ReLogin">
      </command>
      <command
            defaultHandler="com.graly.promisone.base.security.handlers.ExitHandlerHandler"
            id="com.graly.promisone.system.exit"
            name="Exit">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
    <editor
            class="com.graly.promisone.base.entitymanager.editor.EntityEditor"
            id="com.graly.promisone.base.entitymanager.editor.EntityEditor"
            icon="icons/entity.gif"
            name="Editor">
    </editor>
  </extension>
   <extension
         point="com.graly.promisone.runtime.service">
         <service 
         	class="com.graly.promisone.security.client.SecurityManager"
  		 	locator="promisone/SecurityManagerBean/remote">
  	 	 </service>
  	 	 <service 
         	class="com.graly.promisone.activeentity.client.ADManager"
  		 	locator="promisone/ADManagerBean/remote">
  	 	 </service>
   </extension>
   <extension 
   		point="com.graly.promisone.runtime.exceptionhandler">
        <exceptionHandler
            class="com.graly.promisone.base.ui.exceptionhandler.ThrowableHandler"
            name="Default Handler for all Throwables" targetType="java.lang.Throwable"/>
        <exceptionHandler
            class="com.graly.promisone.base.ui.exceptionhandler.OutOfMemoryHandler"
            name="Handler for OutOfMemoryError" targetType="java.lang.OutOfMemoryError"/>
        <exceptionHandler
            class="com.graly.promisone.base.ui.exceptionhandler.ClientExceptionHandler"
            name="Handler for ClientException" targetType="com.graly.promisone.core.exception.ClientException"/>
        <exceptionHandler
            class="com.graly.promisone.base.ui.exceptionhandler.ClientParameterExceptionHandler"
            name="Handler for ClientParameterExceptionHandler" targetType="com.graly.promisone.core.exception.ClientParameterException"/>
    </extension>
    
    <extension
         point="org.eclipse.ui.views">
      <view
            class="com.graly.promisone.base.security.views.FunctionView"
            id="FunctionView"
            icon="icons/function_hierarchy.gif"
            name="FunctionView">
      </view>
   </extension>
   
   <extension
         point="com.graly.promisone.base.managers">
         <manager 
         	object="com.graly.promisone.security.model.ADUserGroup"
         	class="com.graly.promisone.base.security.usergroup.UserGroupProperties">
         </manager>
         <manager
         	object="com.graly.promisone.security.model.ADUser"
         	class="com.graly.promisone.base.security.user.UserProperties">
         </manager>
   </extension>
   
   <extension
         point="com.graly.promisone.base.images">
      <image
            id="new"
            src="icons/new.gif">
      </image>
      <image
            id="refresh"
            src="icons/refresh.gif">
      </image>
      <image
            id="save"
            src="icons/save.gif">
      </image>
      <image
            id="search"
            src="icons/search.gif">
      </image>
      <image
            id="horizontal"
            src="icons/horizontal.gif">
      </image>
      <image
            id="vertical"
            src="icons/vertical.gif">
      </image>
      <image
            id="function"
            src="icons/function.gif">
      </image>
       <image
            id="feature"
            src="icons/feature.gif">
      </image>
      <image
            id="open-folder"
            src="icons/open-folder.gif">
      </image>
      <image
            id="close-folder"
            src="icons/close-folder.gif">
      </image>
      <image
            id="flag-zh"
            src="icons/flag-zh.gif">
      </image>
      <image
            id="flag-en"
            src="icons/flag-en.gif">
      </image>
      <image
            id="flag-us"
            src="icons/flag-us.gif">
      </image>
      <image
            id="login"
            src="icons/login.gif">
      </image>
      <image
            id="login-dialog"
            src="icons/login-dialog.gif">
      </image>
      <image
            id="search-dialog"
            src="icons/search-dialog.png">
      </image>
      <image
            id="search-button"
            src="icons/search-button.gif">
      </image>
      <image
            id="time"
            src="icons/time.gif">
      </image>
      <image
            id="server"
            src="icons/server.png">
      </image>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.graly.promisone.base.Application"
            name="MES">
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="appName"
               value="MES">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
          <property
               name="windowImages"
               value="icons/window.gif">
         </property>
      </product>
   </extension>
</plugin>