<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension
         point="com.graly.framework.runtime.service">
  	 	 <service 
  	 	 	hostname="framework"
         	class="com.graly.framework.activeentity.client.ADManager"
  		 	locator="%ADManagerBean">
  	 	 </service>
  	 	 <service 
  	 	 	hostname="framework"
         	class="com.graly.erp.pur.client.PURManager"
  		 	locator="%PURManagerBean">
  	 	 </service>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
    <editor
            class="com.graly.erp.pur.request.RequisitionEditor"
            id="com.graly.erp.pur.request.RequisitionEditor"
            icon="icons/entity.gif"
            name="Editor">
    </editor>
    <editor
            class="com.graly.erp.pur.po.POEditor"
            id="com.graly.erp.pur.po.POEditor"
            icon="icons/entity.gif"
            name="Editor">
    </editor>
    <editor
            class="com.graly.erp.pur.calendarday.PurCalendarDayEditor"
            id="com.graly.erp.pur.calendarday.PurCalendarDayEditor"
            icon="icons/entity.gif"
            name="PurCalendarDayEditor">
    </editor>
    <editor
            class="com.graly.erp.pur.request.query.PrQueryEditor"
            id="com.graly.erp.pur.request.query.PrQueryEditor"
            icon="icons/entity.gif"
            name="PrQueryEditor">
    </editor>
    <editor
            class="com.graly.erp.pur.po.query.PoQueryEditor"
            id="com.graly.erp.pur.po.query.PoQueryEditor"
            icon="icons/entity.gif"
            name="PoQueryEditor">
    </editor>
    <editor
            class="com.graly.erp.pur.msm.MinStorageMaterialEditor"
            id="com.graly.erp.pur.msm.MinStorageMaterialEditor"
            icon="icons/entity.gif"
            name="MinStorageMaterialEditor">
    </editor>
    <editor
          class="com.graly.erp.pur.po.down.PoDownEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.pur.po.down.PoDownEditor"
          name="PoDownEditor">
    </editor>
    <editor
          class="com.graly.erp.pur.lot.query.MerchandiseBatchEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.pur.lot.query.MerchandiseBatchEditor"
          name="MerchandiseBatchEditor">
    </editor>
    <editor
          class="com.graly.erp.pur.vendorgoal.VendorGoalSectionEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.pur.vendorgoal.VendorGoalSectionEditor"
          name="VendorGoalSectionEditor">
    </editor>
    <editor
          class="com.graly.erp.pur.receipt.date.POReceiptDateQueryEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.pur.receipt.date.POReceiptDateQueryEditor"
          name="POReceiptDateQueryEditor">
    </editor>
    <editor
          class="com.graly.erp.bj.pur.po.BJPOEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.bj.pur.po.BJPOEditor"
          name="BJPOEditor">
    </editor>
    <editor
          class="com.graly.erp.xz.pur.request.XZRequisitionEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.xz.pur.request.XZRequisitionEditor"
          name="XZRequisitionEditor">
    </editor>
    <editor
          class="com.graly.erp.xz.pur.po.XZPOEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.xz.pur.po.XZPOEditor"
          name="XZPOEditor">
    </editor>
    <editor
          class="com.graly.erp.internalorder.InternalOrderEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.internalorder.InternalOrderEditor"
          name="InternalOrderEditor">
    </editor>
     <editor
          class="com.graly.erp.internalorder.po.InternalOrderPoEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.internalorder.po.InternalOrderPoEditor"
          name="InternalOrderPoEditor">
    </editor>   
  </extension>
  
  	<extension
         point="com.graly.framework.base.managerdialogs">
         <manager
         	object="com.graly.erp.pur.model.RequisitionLine"
         	class="com.graly.erp.pur.request.RequisitionLineProperties">
         </manager>
 
      <manager
         	object="com.graly.erp.po.model.PurchaseOrderLine"
         	class="com.graly.erp.pur.po.POLineProperties">
      </manager>    
    </extension>
    
    <extension
          point="com.graly.framework.base.dialogs">
         <manager
         	object="com.graly.erp.pur.po.query.PoQueryDialog"
         	class="com.graly.erp.pur.po.query.PoQueryDialog">
         </manager>
         <manager
         	object="com.graly.erp.pur.po.query.SpecPoQueryDialog"
         	class="com.graly.erp.pur.po.query.SpecPoQueryDialog">
         </manager>
         <manager
         	object="com.graly.erp.pur.request.query.PrQueryDialog"
         	class="com.graly.erp.pur.request.query.PrQueryDialog">
         </manager>
         <manager
         	object="com.graly.erp.pur.msm.MinStorageMaterialDialog"
         	class="com.graly.erp.pur.msm.MinStorageMaterialDialog">
         </manager>
        <manager
         	object="com.graly.erp.pur.po.down.PoDownDialog"
         	class="com.graly.erp.pur.po.down.PoDownDialog">
         </manager>
        <manager
         	object="com.graly.erp.pur.lot.query.MerchandiseBatchDialog"
         	class="com.graly.erp.pur.lot.query.MerchandiseBatchDialog">
         </manager>         
  </extension>
    
    <extension
         point="com.graly.framework.base.images">
      <image
            id="req-dialog"
            src="icons/req-dialog.png">
      </image>
      <image
            id="edit"
            src="icons/edit.png">
      </image>
      <image
            id="new"
            src="icons/new.gif">
      </image>
      <image
            id="approve"
            src="icons/approve.png">
      </image>
      <image
            id="close"
            src="icons/close.gif">
      </image>
      <image
            id="copy"
            src="icons/copy.gif">
      </image>
      <image
            id="prlines"
            src="icons/prlines.gif">
      </image>
      <image
            id="preview"
            src="icons/preview.png">
      </image>
            <image
            id="print"
            src="icons/print.gif">
      </image>
            <image
                  id="merge"
                  src="icons/merge.gif">
            </image>
            <image
                  id="note"
                  src="icons/note.gif">
            </image>
            <image
                  id="cancel"
                  src="icons/cancel.gif">
            </image>
       <image
            id="email"
            src="icons/email.gif">
       </image>
    </extension>
    
    <extension 
         point="com.graly.framework.base.wizard">
         <page 
         	name="moBomList" 
         	category="viewMO" 
         	class="com.graly.erp.pur.request.refmo.MoBomListPage" 
         	defaultDirect="subMOLine"
         	isStart="true">
         </page>
         <page
         	name="subMOLine"
         	category="viewMO" 
	       	class="com.graly.erp.pur.request.refmo.SubMoLinePage"
	       	defaultDirect="finish">
         </page>
  </extension>

</plugin>
