<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.views">
      <view
            class="com.graly.erp.inv.alarm.start.AlarmStart"
            id="AlarmPanel"
            icon="icons/editor.gif"
            name="AlarmStart">
      </view>
   	</extension>   
	<extension
         point="com.graly.framework.base.panels">
         <panel
         	id="AlarmPanel"
         	closeable="false">
         </panel>
    </extension>
    <extension
	         point="com.graly.framework.runtime.service">
	  	 	 <service 
	  	 	 	hostname="framework"
	         	class="com.graly.framework.activeentity.client.ADManager"
	  		 	locator="%ADManagerBean">
	  	 	 </service>
	  	 	 <service 
	  	 	 	hostname="framework"
	         	class="com.graly.erp.inv.client.INVManager"
	  		 	locator="%INVManagerBean">
	  	 	 </service>
	  	 	 <service 
	  	 	 	hostname="framework"
	         	class="com.graly.erp.sal.client.SALManager"
	  		 	locator="%SALManagerBean">
	  	 	 </service>
	  	 	 <service 
	  	 	 	hostname="framework"
	         	class="com.graly.erp.js.client.JSManager"
	  		 	locator="%JSManagerBean">
	  	 	 </service>
	   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.graly.erp.inv.material.spreadsum.MaterialSpreadSumQueryEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.material.spreadsum.MaterialSpreadSumQueryEditor"
            name="MaterialSpreadSumQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.receipt.ReceiptEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.receipt.ReceiptEditor"
            name="ReceiptEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.out.adjust.outwarehouse.OutWarehouseAdjustEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.out.adjust.outwarehouse.OutWarehouseAdjustEditor"
            name="OutWarehouseAdjustEditor">
     </editor>
     <editor
            class="com.graly.erp.inv.out.adjust.inwaehouser.InWarehouseAdjustEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.out.adjust.inwaehouser.InWarehouseAdjustEditor"
            name="InWarehouseAdjustEditor">
    </editor>
    <editor
            class="com.graly.erp.inv.out.adjust.sell.SellAdjustEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.out.adjust.sell.SellAdjustEditor"
            name="SellAdjustEditor">
   </editor>
      <editor
           class="com.graly.erp.inv.lot.InvLotQueryEditor"
           icon="icons/entity.gif"
           id="com.graly.erp.inv.lot.InvLotQueryEditor"
           name="InvLotQueryEditor">
     </editor>
      <editor
            class="com.graly.erp.inv.barcode.BarcodeEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.barcode.BarcodeEditor"
            name="ReceiptEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.iqc.IqcEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.iqc.IqcEditor"
            name="IqcEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.in.InEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.in.InEditor"
            name="InEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.out.OutEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.out.OutEditor"
            name="OutEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.modifylotid.ModifyLotEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.modifylotid.ModifyLotEditor"
            name="ModifyLotEditor">
      </editor>
       <editor
            class="com.graly.erp.inv.otherin.OtherInEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.otherin.OtherInEditor"
            name="OtherInEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.transfer.TransferEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.transfer.TransferEditor"
            name="TransferEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.material.MaterialEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.material.MaterialEditor"
            name="SearchMaterial">
      </editor>
      <editor
            class="com.graly.erp.inv.locator.modify.LocatorModifyEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.locator.modify.LocatorModifyEditor"
            name="LocatorModifyEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.outother.OtherOutEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.outother.OtherOutEditor"
            name="OtherOutEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.in.query.InQueryEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.in.query.InQueryEditor"
            name="InQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.transfer.query.TransferQueryEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.transfer.query.TransferQueryEditor"
            name="TransferQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.out.query.OutQueryEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.out.query.OutQueryEditor"
            name="OutQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.wirteoffselect.MovementInListEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.wirteoffselect.MovementInListEditor"
            name="MovementInListEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.split.SplitEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.split.SplitEditor"
            name="SplitEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.material.online.OnlineEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.material.online.OnlineEditor"
            name="MaterialOnlineQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.mo.consume.MaterialConsumeEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.mo.consume.MaterialConsumeEditor"
            name="MaterialConsumeEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.rejectin.RejectInEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.rejectin.RejectInEditor"
            name="RejectInEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.material.nomove.NoMoveEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.material.nomove.NoMoveEditor"
            name="NoMoveEditor">
      </editor>

      <editor
            class="com.graly.erp.inv.outserialquery.OutserialQueryEditor"
            default="true"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.outserialquery.OutserialQueryEditor"
            name="OutserialQueryEditor">
      </editor>
      
      <editor
            class="com.graly.erp.inv.material.movesum.MoveSumEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.material.movesum.MoveSumEditor"
            name="MoveSumEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.in.mo.MoInEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.in.mo.MoInEditor"
            name="MoInEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.sum.MonthInventoryQueryEditor"
            default="true"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.sum.MonthInventoryQueryEditor"
            name="MonthInventoryQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.material.locator.MaterialLocatorEntityEditor"
            default="true"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.material.locator.MaterialLocatorEntityEditor"
            name="MaterialLocatorEntityEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.out.adjust.AdjustOutEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.out.adjust.AdjustOutEditor"
            name="AdjustOutEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.sum.lotconsume.LotConsumeQueryEditor"
            default="true"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.sum.lotconsume.LotConsumeQueryEditor"
            name="LotConsumeQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.receipt.query.ReceiptLineQueryEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.receipt.query.ReceiptLineQueryEditor"
            name="ReceiptLineQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.adjust.in.AdjustInEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.adjust.in.AdjustInEditor"
            name="AdjustInEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.adjust.out.AdjustOutEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.adjust.out.AdjustOutEditor"
            name="AdjustOutEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.materialtrace.MaterialTraceEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.materialtrace.MaterialTraceEditor"
            name="MaterialTraceEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.material.onhandvswriteoff.OnhandVsWriteOffEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.material.onhandvswriteoff.OnhandVsWriteOffEditor"
            name="OnhandVsWriteOffEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.material.qtysquery.MaterialQtyQueryEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.material.qtysquery.MaterialQtyQueryEditor"
            name="MaterialQtyQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.transfer.vehicle.VehicleTransferEditor"
            default="true"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.transfer.vehicle.VehicleTransferEditor"
            name="VehicleTransferEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.iqc.statistics.IqcLineEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.iqc.statistics.IqcLineEditor"
            name="IqcLineEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.material.kegongquery.MaterialQtyQueryEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.material.kegongquery.MaterialQtyQueryEditor"
            name="MaterialQtyQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.racklot.RackLotEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.racklot.RackLotEditor"
            name="RackLotEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.rackstorage.RackStorageEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.rackstorage.RackStorageEditor"
            name="RackStorageEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.material.qtysquery.js.JSMaterialQtyQueryEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.material.qtysquery.js.JSMaterialQtyQueryEditor"
            name="JSMaterialQtyQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.alarm.query.AlarmQueryEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.alarm.query.AlarmQueryEditor"
            name="AlarmQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.alarm.warehouse.query.AlarmWareHouseQueryEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.alarm.warehouse.query.AlarmWareHouseQueryEditor"
            name="AlarmQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.transfer.notransfer.query.NoTransferQueryEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.transfer.notransfer.query.NoTransferQueryEditor"
            name="NoTransferQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.material.qtysquery.alarmlevel.MaterialQtyQueryAlarmLevelEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.material.qtysquery.alarmlevel.MaterialQtyQueryAlarmLevelEditor"
            name="MaterialQtyQueryAlarmLevelEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.reversal.temp.estimate.TempEstimateEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.reversal.temp.estimate.TempEstimateEditor"
            name="TempEstimateEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.alarm.service.query.ServiceAlarmEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.alarm.service.query.ServiceAlarmEditor"
            name="ServiceAlarmEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.transfer.to.cana.TransferToCanaEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.transfer.to.cana.TransferToCanaEditor"
            name="TransferToCanaEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.material.storage.list.MaterialStorageListEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.material.storage.list.MaterialStorageListEditor"
            name="MaterialStorageListEditor">
      </editor>   
       
      <editor
            class="com.graly.erp.bj.inv.in.BJInEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.bj.inv.in.BJInEditor"
            name="BJInEditor">
      </editor> 
      <editor
            class="com.graly.erp.bj.inv.outother.BJOtherOutEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.bj.inv.outother.BJOtherOutEditor"
            name="BJOtherOutEditor">
      </editor>
      <editor
            class="com.graly.erp.bj.inv.spares.BJSparesEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.bj.inv.spares.BJSparesEditor"
            name="BJOtherOutEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.aging.AgingEntityEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.aging.AgingEntityEditor"
            name="AgingEntityEditor">
      </editor>
      <editor
            class="com.graly.erp.xz.inv.outother.XZOtherOutEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.xz.inv.outother.XZOtherOutEditor"
            name="XZOtherOutEditor">
      </editor>
      <editor
            class="com.graly.erp.xz.inv.in.XZInEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.xz.inv.in.XZInEditor"
            name="XZInEditor">
      </editor>  
      <editor
            class="com.graly.erp.xz.inv.material.XZMaterialEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.xz.inv.material.XZMaterialEditor"
            name="XZMaterialEditor">
      </editor>   
      <editor
            class="com.graly.erp.inv.out.alarm.OutAlarmEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.out.alarm.OutAlarmEditor"
            name="OutAlarmEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.sum.bj.inout.BJInOutQueryEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.sum.bj.inout.BJInOutQueryEditor"
            name="BJInOutQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.sum.xz.inout.XZInOutQueryEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.sum.xz.inout.XZInOutQueryEditor"
            name="XZInOutQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.bj.inv.in.pur.BJPurInEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.bj.inv.in.pur.BJPurInEditor"
            name="BJPurInEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.workshop.requisition.WorkShopRequestionEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.workshop.requisition.WorkShopRequestionEditor"
            name="WorkShopRequestionEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.workshop.delivery.WorkShopDeliveryEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.workshop.delivery.WorkShopDeliveryEditor"
            name="WorkShopDeliveryEditor">
     </editor> 
      <editor
            class="com.graly.erp.inv.workshop.reclaim.WorkShopReclaimEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.workshop.reclaim.WorkShopReclaimEditor"
            name="WorkShopReclaimEditor">
     </editor>
     <editor
            class="com.graly.erp.inv.workshop.query.WorkShopQueryEditor"
            default="false"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.workshop.query.WorkShopQueryEditor"
            name="WorkShopQueryEditor">
     </editor>
      <editor
            class="com.graly.erp.inv.iqc.statistics.IqcLineEditor2"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.iqc.statistics.IqcLineEditor2"
            name="IqcLineEditor2">
      </editor>
      <editor
            class="com.graly.erp.inv.transfer.hy.dpk.DpkTransferEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.transfer.hy.dpk.DpkTransferEditor"
            name="DpkTransferEditor">
      </editor> 
      <editor
            class="com.graly.erp.inv.workshop.unqualified.UnqualifiedEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.workshop.unqualified.UnqualifiedEditor"
            name="UnqualifiedEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.workshop.services.storage.ServicesStorageEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.workshop.services.storage.ServicesStorageEditor"
            name="ServicesStorageEditor">
      </editor> 
      <editor
            class="com.graly.erp.inv.workshop.services.query.ServicesQueryEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.workshop.services.query.ServicesQueryEditor"
            name="ServicesQueryEditor">
      </editor>
      <editor
            class="com.graly.erp.inv.material.conventional.ConventionalEditor"
            icon="icons/entity.gif"
            id="com.graly.erp.inv.material.conventional.ConventionalEditor"
            name="ConventionalEditor">
      </editor>  
   </extension>
   <extension
         point="com.graly.framework.base.dialogs">
         <manager
         	object="com.graly.erp.inv.generatelot.GenerateLotDialog"
         	class="com.graly.erp.inv.generatelot.GenerateLotDialog">
         </manager>
         <manager
         	object="com.graly.erp.inv.wirteoffselect.WirteOffDialog"
         	class="com.graly.erp.inv.wirteoffselect.WirteOffDialog">
         </manager>
         <manager
         	object="com.graly.erp.inv.querydialog.QueryDialog"
         	class="com.graly.erp.inv.querydialog.QueryDialog">
         </manager>
         <manager
         	object="com.graly.erp.inv.material.online.OnlineDialog"
         	class="com.graly.erp.inv.material.online.OnlineDialog">
         </manager>
         <manager
         	object="com.graly.erp.inv.mo.consume.MaterialCosumeDialog"
         	class="com.graly.erp.inv.mo.consume.MaterialCosumeDialog">
         </manager>
         <manager
         	object="com.graly.erp.inv.material.nomove.NoMoveDialog"
         	class="com.graly.erp.inv.material.nomove.NoMoveDialog">
         </manager>
         <manager
         	object="com.graly.erp.inv.material.movesum.MoveSumDialog"
         	class="com.graly.erp.inv.material.movesum.MoveSumDialog">
         </manager>
         <manager
         	object="com.graly.erp.inv.pricecurve.POPriceQueryDialog"
         	class="com.graly.erp.inv.pricecurve.POPriceQueryDialog">
         </manager>
  </extension>
   <extension    
   		 point="com.graly.framework.base.managers">
         <manager
         	object="com.graly.erp.inv.model.Locator"
         	class="com.graly.erp.inv.locator.LocatorProperties">
         </manager>
         <manager
         	object="com.graly.erp.inv.model.MaterialLocator"
         	class="com.graly.erp.inv.material.locator.MaterialLocatorEntityProperties">
         </manager>
         <manager
         	object="com.graly.erp.inv.model.WarehouseRack"
         	class="com.graly.erp.inv.rack.WarehouseRackProperties">
         </manager>
    </extension>
   <extension
         point="com.graly.framework.base.managerdialogs">
         <manager
         	object="com.graly.erp.inv.model.ReceiptLine"
         	class="com.graly.erp.inv.receipt.ReceiptLineProperties">
         </manager>
         <manager
         	object="com.graly.erp.inv.model.MovementLine"
         	class="com.graly.erp.inv.out.OutLineProperties">
         </manager>
         <manager
         	object="com.graly.erp.inv.model.IqcLine"
         	class="com.graly.erp.inv.iqc.IqcLineProperties">
         </manager>
    </extension>
    
    <extension 
         point="com.graly.framework.base.wizard">
		 <page
         	name="receiptSelect"
         	category="newIqc"
         	class="com.graly.erp.inv.iqc.createfrom.ReceiptSelectPage"
         	defaultDirect="receiptLineSelect"
         	isStart="true">
         </page>
         <page 
         	name="receiptLineSelect" 
         	category="newIqc"
         	class="com.graly.erp.inv.iqc.createfrom.ReceiptLineSelectPage" 
         	defaultDirect="finish">
         </page>
         <page
         	name="receiptSelect"
         	category="newIqcAlarm"
         	class="com.graly.erp.inv.alarm.AlarmReceiptSelectPage"
         	defaultDirect="receiptLineSelect"
         	isStart="true">
         </page>
         <page 
         	name="receiptLineSelect" 
         	category="newIqcAlarm"
         	class="com.graly.erp.inv.iqc.createfrom.ReceiptLineSelectPage" 
         	defaultDirect="finish">
         </page>
		 <page
         	name="iqcSelect"
         	category="createIqc"
         	class="com.graly.erp.inv.in.createfrom.iqc.IqcSelectPage"
         	defaultDirect="iqcLineSelect"
         	isStart="true">
         </page>
         <page 
         	name="iqcLineSelect" 
         	category="createIqc"
         	class="com.graly.erp.inv.in.createfrom.iqc.IqcLineSelectPage" 
         	defaultDirect="iqcLineLotSelect">
         </page>
         <page
         	name="iqcLineLotSelect"
         	category="createIqc"
	       	class="com.graly.erp.inv.in.createfrom.iqc.IqcLineLotSelectPage"
	       	defaultDirect="finish">
         </page>
		 <page
         	name="iqcSelect"
         	category="createIqcAlarm"
         	class="com.graly.erp.inv.alarm.AlarmIqcSelectPage"
         	defaultDirect="iqcLineSelect"
         	isStart="true">
         </page>
         <page 
         	name="iqcLineSelect" 
         	category="createIqcAlarm"
         	class="com.graly.erp.inv.in.createfrom.iqc.IqcLineSelectPage" 
         	defaultDirect="iqcLineLotSelect">
         </page>
         <page
         	name="iqcLineLotSelect"
         	category="createIqcAlarm"
	       	class="com.graly.erp.inv.in.createfrom.iqc.IqcLineLotSelectPage"
	       	defaultDirect="finish">
         </page>         
         <page
         	name="poSelect"
         	category="createPo"
         	class="com.graly.erp.inv.in.createfrom.po.PoSelectPage"
         	defaultDirect="poLineSelect"
         	isStart="true">
         </page>
         <page 
         	name="poLineSelect" 
         	category="createPo"
         	class="com.graly.erp.inv.in.createfrom.po.PoLineSelectPage" 
         	defaultDirect="poLineLotSelect">
         </page>
         <page
         	name="poLineLotSelect"
         	category="createPo"
	       	class="com.graly.erp.inv.in.createfrom.po.PoLineLotSelectPage"
	       	defaultDirect="finish">
         </page>
         <page 
         	name="moSelect" 
         	category="generateWIN"
         	class="com.graly.erp.inv.in.mo.WzProductedMoPage" 
         	defaultDirect="moRefLot"
         	isStart="true">
         </page>
         <page
         	name="moRefLot"
         	category="generateWIN"
	       	class="com.graly.erp.inv.in.mo.WzMoRefLotSelectPage"
	       	defaultDirect="finish">
         </page>
         <page
         	name="poSelect"
         	category="bjCreatePo"
         	class="com.graly.erp.bj.inv.in.createfrom.po.BJPoSelectPage"
         	defaultDirect="poLineSelect"
         	isStart="true">
         </page>
         <page 
         	name="poLineSelect" 
         	category="bjCreatePo"
         	class="com.graly.erp.bj.inv.in.createfrom.po.BJPoLineSelectPage" 
         	defaultDirect="poLineLotSelect">
         </page>
         <page
         	name="poLineLotSelect"
         	category="bjCreatePo"
	       	class="com.graly.erp.bj.inv.in.createfrom.po.BJPoLineLotSelectPage"
	       	defaultDirect="finish">
         </page>
  </extension>
    
    <extension
         point="com.graly.framework.base.images">
      <image
            id="inv-dialog"
            src="icons/inv-dialog.png">
      </image>
      <image
            id="barcode"
            src="icons/barcode.png">
      </image>
      <image
            id="lines"
            src="icons/lines.gif">
      </image>
      <image
            id="next"
            src="icons/next.png">
      </image>
      <image
            id="feature"
            src="icons/feature.gif">
      </image>
      <image
            id="back"
            src="icons/back.png">
      </image>
      <image
            id="voice"
            src="icons/invoice.png">
      </image>
      <image
            id="split"
            src="icons/split.gif">
      </image>
      <image
            id="editor"
            src="icons/editor.gif">
      </image>
      <image
            id="vehicle"
            src="icons/vehicle.png">
      </image>
      <image
            id="ship"
            src="icons/ship.png">
      </image>
      <image
            id="backship"
            src="icons/backship.png">
      </image>
      <image
            id="justify"
            src="icons/justify.png">
      </image>
    </extension>
</plugin>
