<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension
         point="com.graly.framework.runtime.service">
         <service 
         	hostname="framework"
         	class="com.graly.framework.security.client.SecurityManager"
  		 	locator="%SecurityManagerBean">
  	 	 </service>
  	 	 <service 
  	 	 	hostname="framework"
         	class="com.graly.framework.activeentity.client.ADManager"
  		 	locator="%ADManagerBean">
  	 	 </service>
  	 	 <service 
  	 	 	hostname="framework"
         	class="com.graly.erp.pdm.client.PDMManager"
  		 	locator="%PDMManagerBean">
  	 	 </service>
  	 	 <service 
  	 	 	hostname="framework"
         	class="com.graly.erp.product.client.CANAManager"
  		 	locator="%CANAManagerBean">
  	 	 </service>
   </extension>
   
	<extension
         point="com.graly.framework.base.managers">
         <manager
         	object="com.graly.erp.base.model.Material"
         	class="com.graly.erp.pdm.material.MaterialProperties">
         </manager>
    </extension>
    
	<extension
         point="com.graly.framework.base.managerdialogs">
         <manager
         	object="com.graly.erp.pdm.model.MaterialAlternate"
         	class="com.graly.erp.pdm.bomedit.AlternateProperties">
         </manager>
         <manager
         	object="com.graly.erp.pdm.model.MaterialOptional"
         	class="com.graly.erp.pdm.bomedit.OptionalProperties">
         </manager>
    </extension> 
    
    <extension
         point="com.graly.framework.base.images">
      <image
            id="bomtree"
            src="icons/bomtree.png">
      </image>
      <image
            id="bomtitle"
            src="icons/bomtitle.png">
      </image>
      <image
            id="edit"
            src="icons/edit.png">
      </image>
      <image
            id="optional"
            src="icons/optional.gif">
      </image>
      <image
            id="alternate"
            src="icons/alternate.gif">
      </image>
      <image
            id="new"
            src="icons/new.gif">
      </image>
      <image
            id="report"
            src="icons/report.png">
      </image>
      <image
            id="volume"
            src="icons/volume.png">
      </image>
      <image
            id="formula"
            src="icons/formula.png">
      </image>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="com.graly.erp.pdm.material.query.MaterialQueryEditor"
             icon="icons/entity.gif"
             id="com.graly.erp.pdm.material.query.MaterialQueryEditor"
             name="MaterialQueryEditor">
       </editor>
       <editor
             class="com.graly.erp.pdm.batchbom.BatchBomEditor"
             icon="icons/entity.gif"
             id="com.graly.erp.pdm.batchbom.BatchBomEditor"
             name="BatchBomEditor">
       </editor>
       <editor
             class="com.graly.erp.bj.pdm.material.BJMaterialEditor"
             icon="icons/entity.gif"
             id="com.graly.erp.bj.pdm.material.BJMaterialEditor"
             name="BJMaterialEditor">
       </editor>
       <editor
             class="com.graly.erp.xz.pdm.material.XZMaterialEditor"
             icon="icons/entity.gif"
             id="com.graly.erp.xz.pdm.material.XZMaterialEditor"
             name="XZMaterialEditor">
       </editor>
       <editor
             class="com.graly.erp.pdm.material.firstbom.FirstBomEditor"
             icon="icons/entity.gif"
             id="com.graly.erp.pdm.material.firstbom.FirstBomEditor"
             name="FirstBomEditor">
       </editor>     
    </extension>
    <extension
          point="com.graly.framework.base.dialogs">
         <manager
         	object="com.graly.erp.pdm.material.query.MaterialQueryDialog"
         	class="com.graly.erp.pdm.material.query.MaterialQueryDialog">
         </manager>
    </extension>
</plugin>
