<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="com.graly.framework.runtime.service">
  	 	 <service 
  	 	 	hostname="framework"
         	class="com.graly.framework.activeentity.client.ADManager"
  		 	locator="%ADManagerBean">
  	 	 </service>
  	 	 <service 
  	 	 	hostname="framework"
         	class="com.graly.mes.wip.client.WipManager"
  		 	locator="%WipManagerBean">
  	 	 </service>
  	 	 <service 
  	 	 	hostname="framework"
         	class="com.graly.erp.base.client.BASManager"
  		 	locator="%BASManagerBean">
  	 	 </service>
  	 	 <service 
	  	 	 	hostname="framework"
	         	class="com.graly.erp.inv.client.INVManager"
	  		 	locator="%INVManagerBean">
	  	 </service>
	  	 <service 
	  	 	 	hostname="framework"
	         	class="com.graly.mes.wip.client.LotManager"
	  		 	locator="%LotManagerBean">
	  	 </service>
   </extension>

  <extension
    point="org.eclipse.ui.editors">
    <editor
          class="com.graly.erp.wip.mo.MOEditor"
          default="true"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.mo.MOEditor"
          name="Editor">
    </editor>
    <editor
          class="com.graly.erp.wip.calendarday.WipCalendarDayEditor"
          default="true"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.calendarday.WipCalendarDayEditor"
          name="WipCalendarDayEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.calendarhour.CalendarHourEditor"
          default="true"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.calendarhour.CalendarHourEditor"
          name="CalendarHourEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.workcenter.WorkCenterEditor"
          default="true"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.workcenter.WorkCenterEditor"
          name="WorkCenterEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.seelotinfo.SeeLotInfoEditor"
          default="true"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.seelotinfo.SeeLotInfoEditor"
          name="SeeLotInfoEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.disassemblelot.DisAssembleLotEditor"
          default="true"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.disassemblelot.DisAssembleLotEditor"
          name="DisAssembleLotEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.materialused.MaterialUsedEditor"
          default="true"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.materialused.MaterialUsedEditor"
          name="MaterialUsedEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.lothis.WipHisQueryEditor"
          default="true"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.lothis.WipHisQueryEditor"
          name="Editor">
    </editor>
    <editor
          class="com.graly.erp.wip.mo.workhoursum.WorkHoursQueryEditor"
          default="true"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.mo.workhoursum.WorkHoursQueryEditor"
          name="WorkHoursQueryEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.querychart.ChartEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.querychart.ChartEditor"
          name="ChartEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.partlydisassemble.PartlyDisAssembleLotEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.partlydisassemble.PartlyDisAssembleLotEditor"
          name="PartlyDisAssembleLotEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.output.OutputEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.output.OutputEditor"
          name="OutputEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.workcenter.movement.WCTMovementEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.workcenter.movement.WCTMovementEditor"
          name="WCTMovementEditor">
    </editor>
    <editor
          class="com.graly.framework.base.entitymanager.editor.EntityEditor"
          icon="icons/entity.gif"
          id="com.graly.framework.base.entitymanager.editor.EntityEditor"
          name="LotPackageEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.mo.material_standtime.StandTimeQueryEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.mo.material_standtime.StandTimeQueryEditor"
          name="StandTimeQueryEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.prepare.tpsline.PrepareTpsLineEntityEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.prepare.tpsline.PrepareTpsLineEntityEditor"
          name="PrepareTpsLineEntityEditor">
    </editor>   
    <editor
          class="com.graly.erp.wip.mo.molinedelay.MoLineDelayQueryEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.mo.molinedelay.MoLineDelayQueryEditor"
          name="MoLineDelayQueryEditor">
    </editor> 
    <editor
          class="com.graly.erp.wip.workcenter.schedule.query.WorkShopScheduleQueryEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.workcenter.schedule.query.WorkShopScheduleQueryEditor"
          name="WorkShopScheduleQueryEditor">
    </editor> 
    <editor
          class="com.graly.erp.wip.workcenter.schedule.into.WorkScheduleImportEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.workcenter.schedule.into.WorkScheduleImportEditor"
          name="WorkScheduleImportEditor">
    </editor> 
    <editor
          class="com.graly.erp.wip.workcenter.schedule.into2.WorkScheduleImportTwoEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.workcenter.schedule.into2.WorkScheduleImportTwoEditor"
          name="WorkScheduleImportTwoEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.workcenter.schedule.purchase.PurchaseMaterialEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.workcenter.schedule.purchase.PurchaseMaterialEditor"
          name="PurchaseMaterialEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.workcenter2.WorkCenterEditor2"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.workcenter2.WorkCenterEditor2"
          name="WorkCenterEditor2">
    </editor>
    <editor
          class="com.graly.erp.wip.mo.wms.MoWmsEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.mo.wms.MoWmsEditor"
          name="MoWmsEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.workcenter.schedule.purchase2.PurchaseMaterialEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.workcenter.schedule.purchase2.PurchaseMaterialEditor"
          name="PurchaseMaterialEditor2">
    </editor>
    <editor
          class="com.graly.erp.wip.workcenter.schedule.purchase3.PurchaseMaterialEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.workcenter.schedule.purchase3.PurchaseMaterialEditor"
          name="PurchaseMaterialEditor3">
    </editor>
    <editor
          class="com.graly.erp.wip.mo.wms.out.MoWmsOutEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.mo.wms.out.MoWmsOutEditor"
          name="MoWmsOutEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.workcenter.schedule.pmczzj.PmcZzjEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.workcenter.schedule.pmczzj.PmcZzjEditor"
          name="PmcZzjEditor">
    </editor>
    <editor
          class="com.graly.erp.wip.virtualhouse.VirtualHouseEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.wip.virtualhouse.VirtualHouseEditor"
          name="VirtualHouseEditor">
    </editor>
  </extension>

  <extension 
         point="com.graly.framework.base.wizard">
 		 <page
         	name="moGenerate"
         	category="prepareGenerateMO"
         	class="com.graly.erp.wip.mo.create.MOGeneratePage"
         	defaultDirect="alternateSelect"
         	isStart="true">
         </page>
         <page
         	name="alternateSelect"
         	category="prepareGenerateMO"
         	class="com.graly.erp.wip.mo.create.MOAlternateSelectPage"
         	defaultDirect="finish">
         </page>
         <page 
         	name="moBomList" 
         	category="editPrepareMO" 
         	class="com.graly.erp.wip.mo.create.MOBomListPage" 
         	defaultDirect="subMOLine"
         	isStart="true">
         </page>
         <page
         	name="subMOLine"
	      	category="editPrepareMO"
	       	class="com.graly.erp.wip.mo.create.SubMOLinePage"
	       	defaultDirect="finish">
         </page>
		 <page
         	name="moGenerate"
         	category="generateMO"
         	class="com.graly.erp.wip.mo.create.MOGeneratePage"
         	defaultDirect="alternateSelect"
         	isStart="true">
         </page>
         <page
         	name="alternateSelect"
         	category="generateMO"
         	class="com.graly.erp.wip.mo.create.MOAlternateSelectPage"
         	defaultDirect="moBomList">
         </page>
         <page 
         	name="moBomList" 
         	category="generateMO" 
         	class="com.graly.erp.wip.mo.create.MOBomListPage" 
         	defaultDirect="subMOLine">
         </page>
         <page
         	name="subMOLine"
	      	category="generateMO"
	       	class="com.graly.erp.wip.mo.create.SubMOLinePage"
	       	defaultDirect="finish">
         </page>
         <page 
         	name="moBomList" 
         	category="editMO" 
         	class="com.graly.erp.wip.mo.create.MOBomListPage" 
         	defaultDirect="subMOLine"
         	isStart="true">
         </page>
         <page
         	name="subMOLine"
         	category="editMO" 
	       	class="com.graly.erp.wip.mo.create.SubMOLinePage"
	       	defaultDirect="finish">
         </page>
         <page
         	name="alternateSelect"
         	category="prepareEditMo"
         	class="com.graly.erp.wip.mo.create.MOAlternateSelectPage"
         	defaultDirect="moBomList"
         	isStart="true">
         </page>
         <page 
         	name="moBomList" 
         	category="prepareEditMo" 
         	class="com.graly.erp.wip.mo.create.MOBomListPage" 
         	defaultDirect="subMOLine">
         </page>
         <page
         	name="subMOLine"
	      	category="prepareEditMo"
	       	class="com.graly.erp.wip.mo.create.SubMOLinePage"
	       	defaultDirect="finish">
         </page>
         
         
  </extension>
  
  <extension
         point="com.graly.framework.base.dialogs">
         <manager
         	object="com.graly.erp.wip.workcenter.WorkCenterDialog"
         	class="com.graly.erp.wip.workcenter.WorkCenterDialog">
         </manager>
         <manager
         	object="com.graly.erp.wip.materialused.MaterialUsedExtendDailog"
         	class="com.graly.erp.wip.materialused.MaterialUsedExtendDailog">
         </manager>
         <manager
         	object="com.graly.erp.wip.lothis.WipHisQueryDialog"
         	class="com.graly.erp.wip.lothis.WipHisQueryDialog">
         </manager>
         <manager
         	object="com.graly.erp.wip.mo.workhoursum.QueryDialog"
         	class="com.graly.erp.wip.mo.workhoursum.QueryDialog">
         </manager>
         <manager
         	object="com.graly.erp.wip.querychart.DailyMoMaterialQueryDialog"
         	class="com.graly.erp.wip.querychart.DailyMoMaterialQueryDialog">
         </manager>
         <manager
         	object="com.graly.erp.wip.model.WorkShopSchedule"
         	class="com.graly.erp.wip.workcenter.WorkShopScheduleProperties">
         </manager>
        <manager
         	object="com.graly.erp.wip.workcenter.schedule.into.WorkScheduleSetImportDialog"
         	class="com.graly.erp.wip.workcenter.schedule.into.WorkScheduleSetImportDialog">
         </manager>
        <manager
         	object="com.graly.erp.wip.workcenter.schedule.into2.WorkScheduleSetImportTwoDialog"
         	class="com.graly.erp.wip.workcenter.schedule.into2.WorkScheduleSetImportTwoDialog">
         </manager> 
         <manager
         	object="com.graly.erp.wip.workcenter2.WorkCenterDialog2"
         	class="com.graly.erp.wip.workcenter2.WorkCenterDialog2">
         </manager>    
  </extension>
  <extension
         point="com.graly.framework.base.images">
      <image
            id="run"
            src="icons/run.gif">
      </image>
      <image
            id="suspend"
            src="icons/suspend.gif">
      </image>
      <image
            id="receive"
            src="icons/receive.gif">
      </image>
      <image
            id="preview"
            src="icons/preview.png">
      </image>
      <image
            id="reassign"
            src="icons/reassign.gif">
      </image>
      <image
            id="ganttchart"
            src="icons/ganttchart.gif">
      </image>
      <image
            id="split"
            src="icons/split.gif">
      </image>
      <image
            id="component"
            src="icons/component.gif">
      </image>
      <image
            id="bylot"
            src="icons/bylot.png">
      </image>
  </extension>
  	<extension
         point="com.graly.framework.base.managers">
         <manager
         	object="com.graly.erp.wip.model.LargeLot"
         	class="com.graly.erp.wip.lotpackage.LotPackageProperties">
         </manager>
         <manager
         	object="com.graly.erp.base.model.Storage"
         	class="com.graly.erp.wip.storage.StorageDifferenceProperties">
         </manager>
    </extension>
</plugin>
