<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="com.graly.framework.base.images" name="Image Registry" schema="schema/com.graly.framework.base.images.exsd"/>
	<extension-point id="com.graly.framework.base.managers" name="Managers Registry" schema="schema/com.graly.framework.base.managers.exsd"/>
	<extension-point id="com.graly.framework.base.wizard" name="Wizard Registry" schema="schema/com.graly.framework.base.wizard.exsd"/>
	<extension-point id="com.graly.framework.base.dialogs" name="Dialogs Registry" schema="schema/com.graly.framework.base.dialogs.exsd"/>
	<extension-point id="com.graly.framework.base.managerdialogs" name="ManagerDialogs Registry" schema="schema/com.graly.framework.base.managerdialogs.exsd"/>
 	<extension-point id="com.graly.framework.base.panels" name="Panel Registry" schema="schema/com.graly.framework.base.panels.exsd"/>
	<extension
         id="Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
         	class="com.graly.framework.base.application.Application">
         </run>
      </application>
   </extension>   
   <extension
         point="org.eclipse.ui.perspectives">
    	 <perspective
         	class="com.graly.framework.base.entitymanager.EntityPerspective"
            id="Function"
            name="功能清单"
            icon="icons/function_hierarchy.gif">
    	 </perspective>
   </extension>   
   
	<extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
            <toolbar id="com.graly.framework.system">
               <command
                  commandId="com.graly.framework.system.changearea"
                  icon="icons/changearea.gif"
                  id="com.graly.framework.system.changearea"
                  label="ChangeArea">
            	</command>
            	<command
                  commandId="com.graly.framework.system.relogin"
                  icon="icons/relogin.gif"
                  id="com.graly.framework.system.relogin"
                  label="ReLogin">
            	</command>
            	<command
                  commandId="com.graly.framework.system.exit"
                  icon="icons/exit.gif"
                  id="com.graly.framework.system.exit"
                  label="Exit">
            	</command>
            </toolbar>
         </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.graly.framework.base.security.handlers.ChangeAreaHandler"
            id="com.graly.framework.system.changearea"
            name="ChangeArea">
      </command>
      <command
            defaultHandler="com.graly.framework.base.security.handlers.ReLoginHandlerHandler"
            id="com.graly.framework.system.relogin"
            name="ReLogin">
      </command>
      <command
            defaultHandler="com.graly.framework.base.security.handlers.ExitHandlerHandler"
            id="com.graly.framework.system.exit"
            name="Exit">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
    <editor
            class="com.graly.framework.base.entitymanager.editor.EntityEditor"
            id="com.graly.framework.base.entitymanager.editor.EntityEditor"
            icon="icons/entity.gif"
            name="Editor">
    </editor>
  </extension>
  
   <extension
         point="com.graly.framework.runtime.service">
         <service 
         	hostname="framework"
         	class="com.graly.framework.security.client.SecurityManager"
  		 	locator="%SecurityManagerBean">
  	 	 </service>
  	 	 <service 
  	 	 	hostname="framework"
         	class="com.graly.framework.activeentity.client.ADManager"
  		 	locator="%ADManagerBean">
  	 	 </service>
   </extension>
   <extension 
   		point="com.graly.framework.runtime.exceptionhandler">
        <exceptionHandler
            class="com.graly.framework.base.ui.exceptionhandler.ThrowableHandler"
            name="Default Handler for all Throwables" targetType="java.lang.Throwable"/>
        <exceptionHandler
            class="com.graly.framework.base.ui.exceptionhandler.OutOfMemoryHandler"
            name="Handler for OutOfMemoryError" targetType="java.lang.OutOfMemoryError"/>
        <exceptionHandler
            class="com.graly.framework.base.ui.exceptionhandler.ClientExceptionHandler"
            name="Handler for ClientException" targetType="com.graly.framework.core.exception.ClientException"/>
        <exceptionHandler
            class="com.graly.framework.base.ui.exceptionhandler.ClientParameterExceptionHandler"
            name="Handler for ClientParameterExceptionHandler" targetType="com.graly.framework.core.exception.ClientParameterException"/>
    </extension>
    
    <extension
         point="org.eclipse.ui.views">
      <view
            class="com.graly.framework.base.security.views.FunctionView"
            id="FunctionView"
            icon="icons/function_hierarchy.gif"
            name="FunctionView">
      </view>
   </extension>
   
   <extension
         point="com.graly.framework.base.managers">
         <manager 
         	object="com.graly.framework.security.model.ADUserGroup"
         	class="com.graly.framework.base.security.usergroup.UserGroupProperties">
         </manager>
         <manager
         	object="com.graly.framework.security.model.ADUser"
         	class="com.graly.framework.base.security.user.UserProperties">
         </manager>
   </extension>
   
   <extension
         point="com.graly.framework.base.images">
      <image
            id="new"
            src="icons/new.gif">
      </image>
      <image
            id="refresh"
            src="icons/refresh.gif">
      </image>
      <image
            id="save"
            src="icons/save.gif">
      </image>
      <image
            id="search"
            src="icons/search.gif">
      </image>
      <image
            id="horizontal"
            src="icons/horizontal.gif">
      </image>
      <image
            id="vertical"
            src="icons/vertical.gif">
      </image>
      <image
            id="function"
            src="icons/function.gif">
      </image>
       <image
            id="feature"
            src="icons/feature.gif">
      </image>
      <image
            id="open-folder"
            src="icons/open-folder.gif">
      </image>
      <image
            id="close-folder"
            src="icons/close-folder.gif">
      </image>
      <image
            id="flag-zh"
            src="icons/flag-zh.gif">
      </image>
      <image
            id="flag-en"
            src="icons/flag-en.gif">
      </image>
      <image
            id="flag-us"
            src="icons/flag-us.gif">
      </image>
      <image
            id="login"
            src="icons/login.gif">
      </image>
      <image
            id="login-dialog-left"
            src="icons/login-dialog-left.gif">
      </image>
      <image
            id="search-dialog"
            src="icons/search-dialog.png">
      </image>
      <image
            id="search-button"
            src="icons/search-button.gif">
      </image>
      <image
            id="time"
            src="icons/time.gif">
      </image>
      <image
            id="server"
            src="icons/server.png">
      </image>
      <image
            id="url-button"
            src="icons/url-button.gif">
      </image>
      <image
            id="entity-dialog"
            src="icons/entity-dialog.png">
      </image>
      <image
            id="export"
            src="icons/export-csv.gif">
      </image>
      <image
            id="login-dialog-right"
            src="icons/login-dialog-right.gif">
      </image>
      <image
            id="kaineng"
            src="icons/kaineng.png">
      </image>
      <image
            id="bilu"
            src="icons/bilu.png">
      </image>
      <image
            id="bentai"
            src="icons/bentai.png">
      </image>
      <image
            id="lvxin"
            src="icons/lvxin.png">
      </image>
      <image
            id="beijian"
            src="icons/beijian.png">
      </image>                              
      <image
            id="langfang"
            src="icons/langfang.png">
      </image>
      <image
            id="qita"
            src="icons/qita.png">
      </image>
      <image
            id="xzerp"
            src="icons/xzerp.png">
      </image> 
      <image
            id="jd"
            src="icons/jd.png">
      </image>
      <image
            id="tb"
            src="icons/tb.png">
      </image>
      <image
            id="yx"
            src="icons/yx.png">
      </image>
      <image
            id="ysj"
            src="icons/yinshui.png">
      </image>
     <image
            id="huayu"
            src="icons/huayu.png">
      </image>
      <image
            id="yn"
            src="icons/yn.png">
      </image>
     <image
            id="ynzz"
            src="icons/ynzz.png">
      </image>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.graly.framework.base.Application"
            name="APSwell">
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="appName"
               value="APSwell">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
          <property
               name="windowImages"
               value="icons/window.gif">
         </property>
      </product>
   </extension>
</plugin>
