<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="com.graly.framework.runtime.service">
         <service 
         	hostname="framework"
         	class="com.graly.mes.prd.client.PrdManager"
  		 	locator="%PrdManagerBean">
  	 	 </service>
    </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.graly.mes.prd.step.authorization.StepAuthorizationEditor"
            icon="icons/entity.gif"
            id="com.graly.mes.prd.step.authorization.StepAuthorizationEditor"
            name="Editor">
      </editor>
   </extension>

	<extension
         point="com.graly.framework.base.managers">
         <manager
         	object="com.graly.mes.prd.workflow.graph.def.Process"
         	class="com.graly.mes.prd.process.ProcessProperties">
         </manager>
         <manager
         	object="com.graly.mes.prd.workflow.graph.def.Procedure"
         	class="com.graly.mes.prd.procedure.ProcedureProperties">
         </manager>
         <manager
         	object="com.graly.mes.prd.model.Part"
         	class="com.graly.mes.prd.part.PartProperties">
         </manager>
         <manager
         	object="com.graly.mes.prd.workflow.graph.def.Step"
         	class="com.graly.mes.prd.step.StepProperties">
         </manager>
         <manager
         	object="com.graly.mes.prd.model.Parameter"
         	class="com.graly.mes.prd.ParameterProperties">
         </manager>
         <manager
         	object="com.graly.framework.security.model.WIPMould"
         	class="com.graly.mes.prd.mould.MouldDeleteProperties">
         </manager>
         <manager
         	object="com.graly.framework.security.model.WIPEquipment"
         	class="com.graly.mes.prd.equipment.EquipmentDeleteProperties">
         </manager>
         <manager
         	object="com.graly.framework.security.model.WorkCenter"
         	class="com.graly.mes.prd.workcenter.WorkCenterProperties">
         </manager>
    </extension>
    
    <extension
         point="com.graly.framework.base.images">
      <image
            id="frozen"
            src="icons/frozen.gif">
      </image>
      <image
            id="unfrozen"
            src="icons/unfrozen.gif">
      </image>
      <image
            id="process"
            src="icons/process.gif">
      </image>
      <image
            id="active"
            src="icons/active.gif">
      </image>
      <image
            id="procedure"
            src="icons/procedure.gif">
      </image>
      <image
            id="step"
            src="icons/step.gif">
      </image>
      <image
            id="copy"
            src="icons/copy.gif">
      </image>
      <image
            id="selectprd-dialog"
            src="icons/selectprd-dialog.png">
      </image>
      <image
            id="operation-dialog"
            src="icons/operation-dialog.png">
      </image>
    </extension>

    <extension 
   		 point="com.graly.mes.prd.designer.common.dsl">
      <language 
            id="com.graly.mes.prd.designer.prd" 
            name="jBPM Process Definition Language" 
            editor="com.graly.mes.prd.designer.process"/>	
      <language 
            id="com.graly.mes.prd.designer.prd" 
            name="jBPM Process Definition Language" 
            editor="com.graly.mes.prd.designer.procedure"/>		 
   </extension>
   
   <extension
         point="com.graly.mes.prd.designer.common.semanticElements">
         <semanticElement
            icon="icons/process.gif"
            id="ProcessDefinition"
            label="Process Definition"
            language="com.graly.mes.prd.designer.prd"
            modelClass="com.graly.mes.prd.designer.model.ProcessDefinition"
            name="process-definition"/>
         <semanticElement
            icon="icons/start.gif"
            id="StartState"
            label="Start State"
            language="com.graly.mes.prd.designer.prd"
            modelClass="com.graly.mes.prd.designer.model.StartState"
            name="start-state"/>
         <semanticElement
            icon="icons/procedure.gif"
            id="ProcedureState"
            label="Procedure State"
            language="com.graly.mes.prd.designer.prd"
            modelClass="com.graly.mes.prd.designer.model.ProcedureState"
            name="procedure-state"/>
         <semanticElement
            id="SubProcedure"
            language="com.graly.mes.prd.designer.prd"
            modelClass="com.graly.mes.prd.designer.model.SubProcedure"
            name="procedure"/>
         <semanticElement
            icon="icons/step.gif"
            id="StepState"
            label="Step State"
            language="com.graly.mes.prd.designer.prd"
            modelClass="com.graly.mes.prd.designer.model.StepState"
            name="step-state"/>
         <semanticElement
            id="SubStep"
            language="com.graly.mes.prd.designer.prd"
            modelClass="com.graly.mes.prd.designer.model.SubStep"
            name="step"/>
         <semanticElement
            icon="icons/end.gif"
            id="EndState"
            label="End State"
            language="com.graly.mes.prd.designer.prd"
            modelClass="com.graly.mes.prd.designer.model.EndState"
            name="end-state"/> 
         <semanticElement
            icon="icons/transition.gif"
            id="Transition"
            label="Transition"
            language="com.graly.mes.prd.designer.prd"
            modelClass="com.graly.mes.prd.designer.model.Transition"
            name="transition"/>
   </extension>
   
   <extension 
         point="com.graly.mes.prd.designer.common.notationMappings">
      <mapping
            id="ProcessDefinition"
            semanticElement="ProcessDefinition"
            notationElement="com.graly.mes.prd.designer.root"/>
      <mapping
            id="StartState"
            semanticElement="StartState"
            notationElement="com.graly.mes.prd.designer.node"/>
      <mapping
            id="ProcedureState"
            semanticElement="ProcedureState"
            notationElement="com.graly.mes.prd.designer.node"/>
      <mapping
            id="StepState"
            semanticElement="StepState"
            notationElement="com.graly.mes.prd.designer.node"/>
      <mapping
            id="EndState"
            semanticElement="EndState"
            notationElement="com.graly.mes.prd.designer.node"/>
      <mapping
            id="Transition"
            semanticElement="Transition"
            notationElement="com.graly.mes.prd.designer.edge"/>
   </extension>   
   
   <extension 
         point="com.graly.mes.prd.designer.common.xmlMappings">
      <mapping
            id="ProcessDefinition"
            semanticElement="ProcessDefinition"
            adapterClass="com.graly.mes.prd.designer.xml.ProcessDefinitionDomAdapter"
            xmlElement="process-definition"/>
      <mapping
      		id="StartState"
      		semanticElement="StartState"
            adapterClass="com.graly.mes.prd.designer.xml.StartStateDomAdapter"
      		xmlElement="start-state"/>
      <mapping
            id="ProcedureState"
            semanticElement="ProcedureState"
            adapterClass="com.graly.mes.prd.designer.xml.ProcedureStateDomAdapter"
            xmlElement="procedure-state"/>
      <mapping
            id="SubProcedure"
            semanticElement="SubProcedure"
            adapterClass="com.graly.mes.prd.designer.xml.SubProcedureDomAdapter"
            xmlElement="procedure"/>
      <mapping
            id="StepState"
            semanticElement="StepState"
            adapterClass="com.graly.mes.prd.designer.xml.StepStateDomAdapter"
            xmlElement="step-state"/>
      <mapping
            id="SubStep"
            semanticElement="SubStep"
            adapterClass="com.graly.mes.prd.designer.xml.SubStepDomAdapter"
            xmlElement="step"/>
      <mapping
      		id="EndState"
      		semanticElement="EndState"
            adapterClass="com.graly.mes.prd.designer.xml.EndStateDomAdapter"
      		xmlElement="end-state"/>
      <mapping
      		id="Transition"
      		semanticElement="Transition"
            adapterClass="com.graly.mes.prd.designer.xml.TransitionDomAdapter"
      		xmlElement="transition"/>
   </extension>
   
   <extension 
         point="com.graly.mes.prd.designer.common.palette">
      <paletteContribution 
            id="process" 
            editorClass="com.graly.mes.prd.process.designer.ProcessGraphForm">
         <category 
               id="nodeTools"/>
         <category 
               id="transitionTools"/>
         <entry
               category="com.graly.mes.prd.nodeTools"
               icon="icons/start.gif"
               id="startStateTool"
               label="Start"
               node="true"
               object="StartState"
               tooltip="Creates a start node"/>
		<entry
               category="com.graly.mes.prd.nodeTools"
               icon="icons/step.gif"
               id="stepStateTool"
               label="Step State"
               node="true"
               object="StepState"
               tooltip="Creates a step state node" />
         <entry
               category="com.graly.mes.prd.nodeTools"
               icon="icons/end.gif"
               id="endStateTool"
               label="End"
               node="true"
               object="EndState"
               tooltip="Creates a end node"/>
         <entry
               category="com.graly.mes.prd.transitionTools"
               icon="icons/transition.gif"
               id="transitionTool"
               label="Transition"
               node="false"
               object="Transition"
               tooltip="Creates a transition"/>         
      </paletteContribution>
   </extension>
   
</plugin>
