<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
      <view
            class="com.graly.alm.panel.AlarmPanel"
            id="AlarmPanel"
            icon="icons/alarm.gif"
            name="AlarmPanel">
      </view>
   	</extension>   
   
	<extension
         point="com.graly.framework.base.panels">
         <panel
         	id="AlarmPanel"
         	closeable="false">
         </panel>
    </extension>
    
    <extension
         point="com.graly.framework.runtime.service">
         <service 
         	hostname="framework"
         	class="com.graly.alm.client.ALMManager"
  		 	locator="%ALMManagerBean">
  	 	 </service>
    </extension>
    
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.graly.alm.alarm.AlarmEditor"
            icon="icons/alarm.gif"
            id="com.graly.alm.alarm.AlarmEditor"
            name="AlarmEditor">
      </editor>
      <editor
            class="com.graly.alm.history.AlarmHisEditor"
            icon="icons/alarm.gif"
            id="com.graly.alm.history.AlarmHisEditor"
            name="AlarmHisEditor">
      </editor>
      <editor
            class="com.graly.alm.manager.AlarmHisEditor"
            icon="icons/alarm.gif"
            id="com.graly.alm.manager.AlarmHisManagerEditor"
            name="AlarmHisManagerEditor">
      </editor>
 </extension>
   
    <extension
         point="com.graly.framework.base.images">
      <image
            id="alarm"
            src="icons/alarm.gif">
      </image>
      <image
            id="error"
            src="icons/error.gif">
      </image>
      <image
            id="warning"
            src="icons/warning.gif">
      </image>
      <image
            id="info"
            src="icons/info.gif">
      </image>
      <image
            id="open_enable"
            src="icons/open_enable.gif">
      </image>
      <image
            id="open_disable"
            src="icons/open_disable.gif">
      </image>
      <image
            id="copy"
            src="icons/copy.gif">
      </image>
      <image
            id="delete_enable"
            src="icons/delete_enable.gif">
      </image>
       <image
            id="delete_disable"
            src="icons/delete_disable.gif">
      </image>
      <image
            id="edit"
            src="icons/editor.gif">
      </image>
      <image
            id="manager"
            src="icons/manager.gif">
      </image>
  	</extension>

</plugin>
