<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
	         point="com.graly.framework.runtime.service">
	  	 	 <service 
	  	 	 	hostname="framework"
	         	class="com.graly.framework.activeentity.client.ADManager"
	  		 	locator="%ADManagerBean">
	  	 	 </service>
	  	 	 <service 
	  	 	 	hostname="framework"
	         	class="com.graly.erp.ppm.client.PPMManager"
	  		 	locator="%PPMManagerBean">
	  	 	 </service>
	   </extension>
  <extension
         point="org.eclipse.ui.editors">
    <editor
            class="com.graly.erp.ppm.saleplan.SalePlanEditor"
	            id="com.graly.erp.ppm.saleplan.SalePlanEditor"
	            icon="icons/entity.gif"
	            name="SalePlanEditor">
    </editor>
    <editor
          class="com.graly.erp.ppm.mpsline.MpsEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.ppm.mpsline.MpsEditor"
          name="MpsEditor">
    </editor>
    <editor
          class="com.graly.erp.ppm.saleplan.temp.TpsEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.ppm.saleplan.temp.TpsEditor"
          name="TpsEditor">
    </editor>
    <editor
          class="com.graly.erp.ppm.shortage.ShortageEntityEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.ppm.shortage.ShortageEntityEditor"
          name="ShortageEntityEditor">
    </editor>
    <editor
          class="com.graly.erp.ppm.overouted.OverOutedEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.ppm.overouted.OverOutedEditor"
          name="OverOutedEditor">
    </editor>
    <editor
          class="com.graly.erp.ppm.statistic.MpsStatisticEntityEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.ppm.statistic.MpsStatisticEntityEditor"
          name="MpsStatisticEntityEditor">
    </editor>
    <!--
    <editor
         class="com.graly.erp.ppm.lading.LadingEditor"
         icon="icons/entity.gif"
         id="com.graly.erp.ppm.lading.LadingEditor"
         name="LadingEditor">
   	 </editor>
   	 -->
   	 <editor
          class="com.graly.erp.ppm.saleplan.temp.prepare.TpsPrepareEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.ppm.saleplan.temp.prepare.TpsPrepareEditor"
          name="TpsPrepareEditor">
    </editor>
   	 <editor
          class="com.graly.erp.ppm.saleplan.temp.prepare2.TpsPrepareEditor2"
          icon="icons/entity.gif"
          id="com.graly.erp.ppm.saleplan.temp.prepare2.TpsPrepareEditor2"
          name="TpsPrepareEditor2">
    </editor>
   	 <editor
          class="com.graly.erp.ppm.mpsline.delivery.MpsLineDeliveryQueryEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.ppm.mpsline.delivery.MpsLineDeliveryQueryEditor"
          name="MpsLineDeliveryQueryEditor">
    </editor>
   	 <editor
          class="com.graly.erp.ppm.mps.delivery.MpsDeliveryQueryEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.ppm.mps.delivery.MpsDeliveryQueryEditor"
          name="MpsDeliveryQueryEditor">
    </editor>
    <editor
          class="com.graly.erp.ppm.yn.mpsline.YnMpsEditor"
          icon="icons/entity.gif"
          id="com.graly.erp.ppm.yn.mpsline.YnMpsEditor"
          name="YnMpsEditor">
    </editor>
  </extension>
	<extension
         point="com.graly.framework.base.dialogs">
         <manager
         	object="com.graly.erp.ppm.saleplan.SalePlanDialog"
         	class="com.graly.erp.ppm.saleplan.SalePlanDialog">
         </manager>
         <!--
         <manager
         	object="com.graly.erp.ppm.lading.LadingDialog"
         	class="com.graly.erp.ppm.lading.LadingDialog">
         </manager>
         -->
         <manager
         	object="com.graly.erp.ppm.mpsline.MpsDialog"
         	class="com.graly.erp.ppm.mpsline.MpsDialog">
         </manager>
         <manager
         	object="com.graly.erp.ppm.shortage.ShortageQueryDialog"
         	class="com.graly.erp.ppm.shortage.ShortageQueryDialog">
         </manager>
         <manager
         	object="com.graly.erp.ppm.overouted.OverOutedQueryDialog"
         	class="com.graly.erp.ppm.overouted.OverOutedQueryDialog">
         </manager>
         
         <manager
         	object="com.graly.erp.ppm.yn.mpsline.YnMpsDialog"
         	class="com.graly.erp.ppm.yn.mpsline.YnMpsDialog">
         </manager>
    </extension>
    <extension
         point="com.graly.framework.base.managers">
         <manager
         	object="com.graly.erp.ppm.model.Mps"
         	class="com.graly.erp.ppm.setplan.SetPlanProperties">
         </manager>
         <!--
         <manager
         	object="com.graly.erp.ppm.model.Lading"
         	class="com.graly.erp.ppm.lading.LadingProperties">
         </manager>
         -->
         <manager
         	object="com.graly.erp.ppm.model.SalePlanLine"
         	class="com.graly.erp.ppm.saleplan.SalePlanLineProperties">
         </manager>
         <manager
         	object="com.graly.erp.ppm.model.MpsLine"
         	class="com.graly.erp.ppm.mpsline.MpsProperties">
         </manager>
         <manager
         	object="com.graly.erp.ppm.model.TpsLine"
         	class="com.graly.erp.ppm.saleplan.temp.TpsLineProperties">
         </manager>
        <manager
         	object="com.graly.erp.ppm.model.TpsLinePrepare"
         	class="com.graly.erp.ppm.saleplan.temp.prepare2.TpsPrepareProperties2">
         </manager>
        <manager
         	object="com.graly.erp.ppm.model.YnTempMps"
         	class="com.graly.erp.ppm.yn.mpsline.YnTempMpsProperties">
         </manager>
    </extension>
    <extension
          point="com.graly.framework.base.images">
       <image
             id="export_report"
             src="icons/report.png">
       </image>
       <image
             id="computus"
             src="icons/computus.png">
       </image>
       <image
             id="statistics_title"
             src="icons/statistics_title.png">
       </image>
    </extension>
</plugin>
